/* shine-animation.css */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shine {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: transparent;
}

.shine::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shine 2s linear infinite;
}

@keyframes shine-text {
  from {
    background-position: -500px;
  }
  to {
    background-position: 500px;
  }
}

.project-text:hover {
  display: inline-block;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: shine-text 3s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}